:root {
  --black: #0a0404;
  --red: #fb1414;
  --white: #ffffff;
  --yellow: #f4a635;
}

.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#fondoLogo{
  background-image: url(../images/madera.jpg);
  background-size: cover;
}

body{
  margin: 0px;
  font-family: Helvetica, sans-serif;
  padding-bottom: 5%;
}

nav{
  background-color: var(--red);
  text-align: center;
}

.linkBarra {
  color: var(--white);
  font-size: large;
  font-weight: bold;
  text-decoration: none;
  padding: 1%;
  width: 10%;
  display: inline-block;
}

.linkBarra:hover {
  background-color: var(--yellow);
}

#fondoLogo{
  background-image: /images/madera.jpg;
}

.menu{
  margin-right: 10%;
  margin-left: 10%;
  width: 80%;
}

.menu figure{
  display: flex;
  vertical-align: middle;
  border: 5px double var(--yellow);
}

.menu figure figcaption{
  width: 60%;
  padding: 5%;
}

.menu figure img{
  width: 40%;
}

#formaOrden{
  margin-left: 20%;
  margin-right: 20%;
}
